<div class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button (click)="onToggleClicked()"
    class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" routerLink="/section1">
    <img *ngIf="isLogoShown" src="../assets/logos/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    <span *ngIf="isBrandShown">Bootstap</span>
  </a>
  <div class="collapse navbar-collapse bg-inverse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/section1">Section 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/section2">Section 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Section 3</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div class="footer">
      <div style = "float: left!important;"><p style = "color: black;">&copy; Bootstrap, 2018</p></div>
      <div style = "float: right!important;">
        <a><i class="fa fa-facebook"></i></a>
        <a><i class="fa fa-vk"></i></a>
        <a><i class="fa fa-twitter"></i></a>
        <a><i class="fa fa-retweet"></i></a>
      </div>
    </div>
  </div>
</footer>

