img {
  max-width: 100%;
  height: auto;
}

nav { overflow: auto; }

@media (max-width: 600px)
{
  .backgroundimage {
    background-image: url("../../assets/background_1.jpg");
    background-size: 40% 40%;
    background-repeat: no-repeat;
    position: relative;
  }
}


.backgroundimage {
  background-image: url("../../assets/background_1.jpg");
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
