<div class="container"  style = "margin-top:100px;">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-sm-4">
      <p>During transaction our platform regulates following rules from both sides of the deal. You can contact our service while having any troubles as failure to fulfill the terms of the transaction and etc.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-sm-4">
      <p>You can search for specific channels by username and view information about members amount, apply different filters to channels to adopt output results personally for your needs.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-sm-4">
      <p>To provide the deals with maximum efficiency, client can observe the average views on each post of the prefered channel, taking into account the possible outcome of the deal.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
